@import url('//fonts.googleapis.com/css?family=Open+Sans');

html
{
	min-height:100%;
	border-top:10px solid #ECEEF1;
	border-bottom:10px solid #ECEEF1;
	color:#61666c;
	font-weight:400;
	font-size:1em;
	font-family:'Open Sans', sans-serif;
	line-height:2em;
}
body
{
	width:100%;
	border-collapse:collapse;
	font-size:.75em;
  	text-align: center;
}
h2
{
	font-size: 22px;
}
table
{
  	margin-left: auto;
  	margin-right: auto;
}
th
{
	white-space: nowrap;
  	text-align: left;
  	padding-left: 20px;
  	padding-right: 20px;
}
td
{
  	white-space: nowrap;
  	text-align: left;
  	padding-left: 20px;
  	padding-right: 20px;
}